<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
<body>
    <%- include('header') %>

    <section class="error">
        <h2>Oops! Página no encontrada</h2>
        <p>Lo sentimos, la página que buscas no existe.</p>
        <a href="/">Volver al inicio</a>
    </section>

    <%- include('footer') %>
    <script src="/javascripts/main.js"></script>
</body>
</html>
