<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('head') %>
</head>
<body>
  <%- include('header') %>

  <main>
    <%- body %>
  </main>

  <%- include('footer') %>
  <script src="/javascripts/main.js"></script>
</body>
</html>
