<%- include("header", {}) %>
<h1><%= title %></h1>
<form id="registroForm" method="post" action="/registro" onsubmit="return validateForm()">
    <label>Username:</label>
    <input type="text" id="user" name="user"><br>
    <label>Password:</label>
    <input type="password" id="pass" name="pass"><br>
    <label>Repeat Password:</label>
    <input type="password" id="pass2" name="pass2"><br>
    <button type="submit">Submit</button>
</form>
<%- include("footer", {}) %>